.card {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.card-visited {
    border: 2px solid purple;
    background-color: rgb(77, 68, 158)!important;
    color: #fff!important;
}

.list {
    display: grid;
    color: #fff;
    grid-template-columns: repeat(3,1fr);
}

.flag {
    border-radius: 4px;
}

.details {
    margin-top: 8px;
}